<div class="form-group">
  <input type="text" class="form-control" placeholder="search by name" style="width: 400px;" [(ngModel)]="searchClient"/>
  {{ searchClient }}
</div>

<div *ngFor= "let client of clients$ | filter: 'test'"  style="text-align: center">
  <div style="text-align: center;"><mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title> CLIENT ID</mat-card-title>
      <mat-card-subtitle>{{ client.id}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>   
      <li>BirthDay : {{ client.birthday }}</li>
        <li>Name : {{ client.name | uppercase }}</li>
        <li>Firstname : {{ client.firstname }}</li>
        <li>Address : {{client.address}}</li> 
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>More</button>
    </mat-card-actions>
  </mat-card>
  
  </div>
  <div *ngFor="let account of accounts$" style="text-align: center"></div>

</div>

<router-outlet></router-outlet>
